{{#each this}}
<div>
    <div>
        <img src="{{flag}}" alt="{{name}}">
    </div>
    <div>
        <h2>{{name}}</h2>
        <h2>Capital:</h2>
        <p>{{capital}}</p>
        <p>Population:</p>
        <p>{{population}}</p>
        <p>Languages:</p>
        <ul>
          {{#each languages}}
             <li>{{this.name}}</li>
          {{/each}}
        </ul>
    </div>
</div>
{{/each}}