{{#each this}}
<div class="container-search">
    <div class="image-country-box">
        <img class="image-country" src="{{flag}}" alt="{{name}}">
    </div>
    <div class="container-info">
        <h2 class="country-name-title">{{name}}</h2>
    </div>
        <ul class="list-country-title">
            <li class="item-country-title">
                <h2 class="country-title">Capital:</h2>
                <p class="country-name">{{capital}}</p>
            </li>
            <li class="item-country-title">
                <h2 class="country-title">Population:</h2>
                <p class="country-name">{{population}}</p>
            </li>
            <li class="item-country-title">
                <h2 class="country-title">Languages:</h2>
                {{#each languages}}
                <p class="item-country-title">{{this.name}}</p>
                {{/each}}
            </li>
        </ul>
</div>
{{/each}}